<div class=" container ">
    <h3 class=" jumbotron "> Subjects list </h3>
    <table class="table  table-bordered">
      <tbody>
        <tr>
          <th> # </th>
          <th> Name </th>
    
        </tr>
        <tr *ngFor="let item of subjSrv.sbjs ">
          <td>{{item._id}}</td>
          <td>{{item.name}}</td>
         <td> <button class="btn btn-outline-info"(click)="edit(item._id)"> Edit </button></td> 
        <td> <button class="btn btn-outline-danger"(click)="delete(item._id)"> Delete </button></td>
        <td> <button class="btn btn-outline-secondary"(click)="view(item._id, item.name)"> View  </button></td>

        </tr>
        <td colspan="6">
          <a [routerLink]="['/subjects/add']">
          <button class="btn btn-success">Add New Subject..</button>
          </a>
        </td>
      </tbody>
    </table>
</div>
<router-outlet></router-outlet>


